<%- include("partials/header"); -%>

  <body>
    <div>
      <form class="edit-form" action="/save" method="post">
        <div class="mb-3">
          <input
            type="hidden"
            name="_id"
            class="form-control"
            id="id"
            aria-describedby="emailHelp"
            value="<%= note._id %>"
          />
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            aria-describedby="emailHelp"
            value="<%= note.title %>"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="content">Content</label>
          <textarea class="form-control" name="content" id="content" rows="3">
<%= note.content %>
        </textarea
          >
        </div>
        <button type="submit" class="btn btn-outline-dark">Save</button> 
        <input class="alarm-input" type="datetime-local" id="alarm" name="alarm" value="">
      </form>
    </div>

    <%- include("partials/footer"); -%>

  </body>
</html>
